client_id=YOUR_DISCORD_APP_CLIENT_ID
client_secret=YOUR_DISCORD_APP_CLIENT_SECRET
redirect_uri=http://localhost:8501
guild_id=YOUR_DISCORD_GUILD_ID
bt_role_id=1011304196999487532
psds_elite_logging_webhook=
